.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container {
  max-width: 1000px;
  width: 100%;
}
.main-img,
.img_with_label > img {
  width: 100%;
}
.about {
  gap: 16px;
}
h1 {
  font-weight: 700;
  font-size: 40px;
}
h3 {
  font-weight: 700;
  font-size: 24px;
}
p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24.39px;
}
label {
  font-weight: 500;
  font-size: 20px;
  line-height: 24.39px;
  text-align: center;
}

.title-text-holder,
.about,
.main-grid {
  padding: 64px 14%;
  display: flex;
  width: 100%;
}
.main-grid {
  display: flex;
  gap: 32px;
}
.main-grid > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.img_with_label {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.title-text-holder,
.about {
  gap: 16px;
  flex-direction: column;
}
.main-img {
  object-fit: cover;
  object-position: center;
  min-height: 350px;
}

@media (max-width: 530px) {
  .main-grid {
    flex-direction: column;
  }
  .intro-img {
    object-position: 60% 0;
  }
}
