@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

.page {
  --primary-color: #4ed8e9;
  --secondary-color: #e3e2e6;
  --bg-primary-color: #001224;
  --bg-secondary-color: #001b33;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-primary-color);
  padding: 0 32px;
  padding-bottom: 32px;
}
.main-container * {
  font-family: "Space Grotesk";
}
h1 {
  font-size: 56px;
  font-weight: 700;
  color: var(--primary-color);
}
h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}
h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
}
ul {
  margin-left: 1em;
  text-align: left;
}
b {
  font-weight: 700;
}
p,
li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.header-container {
  max-width: 1000px;
  width: 100%;
}
.main-container {
  max-width: 1000px;
  width: 100%;
  gap: 64px;
  display: flex;
  flex-direction: column;
}
.main-container > img {
  width: 100%;
}
.introduction-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.introduction-section h2,
.introduction-section h3 {
  color: var(--primary-color);
}
.introduction-section p,
.introduction-section li {
  color: var(--secondary-color);
}
/* //////////// */
.design-circles-container {
  display: flex;
}
.design-circles-container > div {
  flex: 1;
}
.design-circles-container img {
  width: 100%;
}
.design-circles-container p {
  padding: 16px;
}
.research_grid_1 {
  display: flex;
  gap: 16px;
}
.research_grid_1 > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.research_grid_1 > div > p {
  color: var(--primary-color);
}
.box > b {
  color: var(--secondary-color);
}

.research_grid_1 > div > .title {
  padding: 16px;
  border-radius: 16px;
  color: var(--bg-primary-color);
  background-color: var(--primary-color);
  font-weight: 700;
  text-align: center;
}
.research_grid_1 .box {
  padding: 16px;
  background-color: var(--bg-secondary-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.blue-container {
  padding: 16px;
  background-color: var(--primary-color);
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.blue-container p {
  color: var(--bg-primary-color);
  font-weight: 700;
}
.list-container {
  background-color: var(--bg-secondary-color);
  border-radius: 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.list-container ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list-container > .list-container-title {
  padding: 16px;
  background-color: var(--bg-primary-color);
  color: var(--primary-color);
  width: fit-content;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 700;
}
.list-container > div > h3 {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 700;
}
.list-container > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.logo-img-container {
  display: flex;
  width: 100%;
  gap: 16px;
  padding: 0 32px;
}
.logo-img-container img {
  flex: 1;
  width: 1px;
}
.logomark-img-container {
  display: flex;
  width: 100%;
  height: 200px;
  gap: 16px;
  padding: 0 32px;
}
.logomark-img-container img {
  flex: 1;
  width: 100px;
  object-fit: contain;
  justify-content: center;
}
.main-container a {
  padding: 16px;
  width: fit-content;
  background-color: var(--primary-color);
  color: var(--bg-primary-color);
  border-radius: 16px;
  font-weight: 700;
}
.main-container a:hover {
  cursor: pointer;
}
.grid-2 {
  display: flex;
  width: 100%;
  gap: 32px;
}
.grid-2 > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
}
.grid-2 .bluebox {
  background-color: var(--primary-color);
  color: var(--bg-primary-color);
  padding: 16px;
  width: 100%;
  border-radius: 16px;
  text-align: center;
}
.grid-2 .steps {
  display: flex;
  gap: 32px;
  background-color: var(--bg-secondary-color);
  border-radius: 16px;
  padding: 32px;
}
.grid-2 .steps h3 {
  color: var(--secondary-color);
}
.grid-2 .steps div:first-child {
  color: var(--secondary-color);
  font-size: 40px;
}
.grid-2 .steps > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.grid-2 img {
  width: 100%;
}
