.nik-page {
  --primary-color: #ffabf1;
  --secondary-color: #ffd7ef;
  --bg-primary-color: #290022;
  --component-bg-primary-color: #702b6b;
  --component-bg-secondary-color: #702b6b4d;

  width: 100%;
  background-color: #290022;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nik-page * {
  font-family: "Space Grotesk";
}
.main-img {
  object-fit: contain;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 1000px;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
}
.main img {
  max-width: 100%;
  height: auto;
}
h2,
h3 {
  color: var(--primary-color);
}
h2 {
  font-weight: 700;
  font-size: 32px;
}
h3 {
  font-weight: 500;
  font-size: 22px;
}
h4 {
  font-weight: 700;
  font-size: 16px;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
li,
p,
h4,
div {
  color: var(--secondary-color);
}
.header-container {
  max-width: 1000px;
  width: 100%;
}
.nik-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.nik-section > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.nik-section > div > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.component-table {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.component-table > div {
  background-color: var(--component-bg-secondary-color);
  padding: 1em;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.component-table > .head {
  background-color: var(--component-bg-primary-color);
  text-align: center;
}
.component-table .head h3 {
  color: var(--secondary-color);
}

#human-resource-distro {
  gap: 16px;
  width: 100%;
  max-width: 100%;
}
#human-resource-distro > div {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
#human-resource-distro img {
  max-height: 250px;
}

#design-system-team-structures {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  flex-direction: row;
  padding: 16px;
}
#design-system-team-structures > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#design-system-team-structures img {
  max-width: 100%;
}
.design-tokens-imgs-grid {
  display: flex;
}
.design-tokens-imgs-grid > div {
  display: flex;
  gap: 32px;
}
.design-tokens-imgs-grid > div > div {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.design-tokens-imgs-grid > div > div > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.design-tokens-imgs-grid img {
  object-fit: contain;
  width: 100%;
}
.main a {
  padding: 16px;
  background-color: var(--primary-color);
  color: var(--bg-primary-color);
  width: fit-content;
  border-radius: 32px;
  font-size: 16px;
  font-weight: 600;
}
a:hover {
  cursor: pointer;
}
#path-img-container > img {
  max-width: 357px;
}
.section-6-figma-structure > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.box {
  padding: 64px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.box * {
  color: var(--secondary-color);
}
.box-bg-color-1 {
  background-color: var(--component-bg-primary-color);
}
.box-bg-color-2 {
  background-color: var(--component-bg-secondary-color);
}
.box-bg-color-3 {
  background-color: var(--bg-primary-color);
}
.box > div > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.box > div > div > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#box-component-img {
  max-width: 670px;
  width: 100%;
  align-self: center;
  height: auto;
}

#contrib-img {
  width: 100%;
  height: auto;
}
.flex-row {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.flex-row > div {
  flex: 1;
}

#senarios img:first-of-type {
  max-width: 700px;
}
#senarios {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#senarios > div {
  gap: 16px;
}
.steps {
  max-width: 70%;
  align-self: center;
}
.step {
  gap: 16px !important;
}
.box-v2 {
  gap: 32px !important;
}
.box-v2 > div {
  gap: 32px !important;
}
.box-v2 > div > div {
  gap: 8px !important;
}
.box-v3 {
  gap: 32px !important;
}
.box-v3 > div {
  gap: 32px !important;
}
.box-v3 > div > div {
  gap: 16px !important;
}
.box-v3 > div > div > div {
  gap: 16px !important;
}
.box-v3 > div > div > div > div {
  display: flex;
  flex-direction: column;
  gap: 8px !important;
}
.purple-box {
  padding: 64px;
  border-radius: 32px;
  background-color: #3e0d38;
}
.end {
  font-size: 56px;
  font-weight: 700;
  color: var(--primary-color);
  padding: 32px;
}
