.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container {
  max-width: 1000px;
  width: 100%;
}

.main-img,
.img_with_label > img {
  width: 100%;
}

.main-img {
  object-fit: cover;
  object-position: center;
  min-height: 350px;
}

.about-snapp {
  gap: 16px;
}
h1 {
  font-weight: 700;
  font-size: 40px;
}
h3 {
  font-weight: 700;
  font-size: 24px;
}
p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24.39px;
  text-align: justify;
}
label {
  font-weight: 500;
  font-size: 20px;
  line-height: 24.39px;
  text-align: center;
}
.title-text-holder,
.about-snapp,
.social-media-grid,
.hr-grid,
.illustration-grid {
  padding: 64px 14%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.img_with_label {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.title-text-holder {
  gap: 16px;
}

.title-text-holder div a {
  width: 152px;
  height: 40px;
  background-color: black;
  color: white;
  text-align: center;
  align-content: center;
  border-radius: 30px;
  margin-top: 16px;
  font-weight: 500;
  font-size: 20;
  cursor: pointer;
}
.title-text-holder div {
  display: flex;
  gap: 16px;
}
.social-media-grid,
.hr-grid {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  gap: 32px;
}

.social-media-grid > div,
.hr-grid > div,
.illustration-grid > div {
  display: flex;
  gap: 32px;
}

.illustration-grid {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.illustration-grid .text-holder {
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 1.5em;
}

@media (max-width: 530px) {
  .social-media-grid > div,
  .hr-grid > div,
  .illustration-grid > div {
    flex-direction: column;
  }
  .intro-main-img {
    min-height: 250px;
  }
  .title-text-holder h1 {
    font-size: 35px;
  }
  .title-text-holder,
  .about-snapp,
  .social-media-grid,
  .hr-grid,
  .illustration-grid {
    padding: 32px 10%;
  }
}
