.hamburger-menu {
  position: fixed;
  top: 0;
  right: -100vw;
  z-index: 100;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  width: 100vw;
  padding: 45px 35px;
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  border-radius: 25px;
}

.hamburger-menu div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 32px;
  font-weight: 600;
}
.hamburger-menu.show {
  right: 0;
  opacity: 100;
}
