.hamburger-menu {
  position: fixed;
  top: 0;
  right: -100vw;
  z-index: 100;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  width: 100vw;
  padding: 90px 46px;
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  border-radius: 25px;
}

.hamburger-menu div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 24px;
  font-weight: 500;
}
.hamburger-menu.show {
  right: 0;
  opacity: 100;
}

/* nebolux */
.nebulox-set-text-color {
  color: var(--nebulox-secondary-color);
}
.nebulox-set-bar-color::after {
  background-color: var(--nebulox-secondary-color);
}
.nebulox-set-bar-color {
  background-color: var(--nebulox-secondary-color);
}
.nebulox-set-bg-color {
  background-color: var(--nebulox-bg-color);
}
.nikandish-set-bg-color {
  background-color: var(--nikandish-bg-primary-color);
}
