header {
  width: 100%;
  height: 80px;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  gap: 8px;
}
.logo-container div {
  font-size: 15px;
  font-weight: 500;
}
.header-buttons-container {
  display: flex;
  width: 312px;
  align-items: center;
  gap: 40px;
}
.header-buttons-container a {
  display: inline-block;
  background: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@media (max-width: 530px) {
  header {
    display: none;
  }
}
