.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-auto-flow: row;
  align-items: stretch;
  grid-gap: 16px;
}

.introduction-container {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 500px;
}

.introduction-square {
  background-image: url("/src/assets/introduction-frame.png");
  background-size: cover;
  flex-basis: 65%;
  margin-right: 16px;
  padding: 36px;
}

.introduction-square h1 {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 30px;
  width: 500px;
}

.introduction-square p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 130px;
  width: 550px;
}

.introduction-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 450px;
  /* overflow-y: hidden; */
}
.button-contact-me {
  width: 175px;
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: 15px;
  border-radius: 30px;
  cursor: pointer;
}
.logo-button {
  display: flex;
  background: none;
  cursor: pointer;
}
.logo-button img {
  border-radius: 100px;
}
.introduction-image-container {
  flex-grow: 1;
  overflow: hidden;
}

.introduction-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.grid-cell {
  padding-top: 100%;
  position: relative;
  display: flex;
  cursor: pointer;
  color: white;
  background-size: 100%;
  transition: background-size 0.5s ease-in-out;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
}
.grid-cell:hover {
  background-size: 110%;
}

.grid-cell h3,
.grid-cell-other h3 {
  position: absolute;
  top: 30px;
  left: 36px;
  font-weight: 400;
  font-size: 20px;
}
.grid-cell p,
.grid-cell-other p {
  position: absolute;
  top: 60px;
  left: 36px;
  font-weight: 300;
  font-size: 18px;
}
.grid-cell button {
  position: absolute;
  top: 40px;
  right: 36px;
  font-weight: 300;
  font-size: 18px;
  background: none;
}
.grid-cell-other {
  height: 150px;
  grid-column-start: 1;
  grid-column-end: 3;
  cursor: pointer;
  position: relative;
  background-image: url("/src/assets/other-projects-frame.png");
  background-size: 100%;
  transition: background-size 0.5s ease-in-out;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  color: white;
}
.grid-cell-other:hover {
  background-size: 110%;
}
.grid-cell-other button {
  position: absolute;
  top: 40px;
  right: 36px;
  font-weight: 300;
  font-size: 18px;
  background: none;
}
.grid-cell-contactme {
  height: 350px;
  grid-column-start: 1;
  grid-column-end: 3;
  background-image: url("/src/assets/contactme-frame.png");
  background-size: cover;
  padding: 36px;
  overflow: hidden;
}
.grid-cell-contactme h1 {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 20px;
}

.grid-cell-contactme p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.grid-cell-contactme div {
  line-height: 1.5em;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 18px;
}
.grid-cell-contactme div b {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 18px;
}
.introduction-square,
.introduction-image-container,
.grid-cell,
.grid-cell-contactme,
.grid-cell-other {
  border-radius: 20px;
}

.nickandish-frame {
  background-image: url("/src/assets/nickandish-frame.png");
}

.snapp-trip-frame {
  background-image: url("/src/assets/snapp-trip-frame.png");
}

.carriot-frame {
  background-image: url("/src/assets/carriot-frame.png");
}

.omid-frame {
  background-image: url("/src/assets/omid-frame.png");
}
.mano-frame {
  background-image: url("/src/assets/mano-frame.png");
}
.nabulox-frame {
  background-image: url("/src/assets/nebulox-frame.png");
}
.logo-button {
  position: relative;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
}

.logo-button img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.logo-button img:last-child {
  opacity: 0;
  visibility: hidden;
}

.logo-button:hover img:last-child {
  opacity: 1;
  visibility: visible;
}

.logo-button:hover img:first-child {
  opacity: 0;
  visibility: hidden;
}
/* contactme button style */

.type--A {
  --line_color: black;
  --back_color: #d3d3d3;
}
.type--B {
  --line_color: #1b1919;
  --back_color: #e9ecff;
}
.type--C {
  --line_color: #00135c;
  --back_color: #defffa;
}
.button {
  position: relative;
  z-index: 0;
  width: 245px;
  height: auto;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--line_color);
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background: var(--line_color);
  transition: all 0.5s ease;
}
.button::before {
  top: 0;
  left: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button::after {
  top: 0;
  right: 54px;
  width: 8px;
}
.button__text::before {
  bottom: 0;
  right: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button__text::after {
  bottom: 0;
  left: 54px;
  width: 8px;
}
.button__line {
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  overflow: hidden;
}
.button__line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 300px;
  border: solid 3px var(--line_color);
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before {
  left: 0;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before {
  right: 0;
}
.button:hover {
  letter-spacing: 6px;
}
.button:hover::before,
.button:hover .button__text::before {
  width: 8px;
}
.button:hover::after,
.button:hover .button__text::after {
  width: calc(100% - 56px * 2 - 16px);
}
.button__drow1,
.button__drow2 {
  position: absolute;
  z-index: -1;
  border-radius: 16px;
  transform-origin: 16px 16px;
}
.button__drow1 {
  top: -16px;
  left: 40px;
  width: 32px;
  height: 0;
  transform: rotate(30deg);
}
.button__drow2 {
  top: 44px;
  left: 77px;
  width: 32px;
  height: 0;
  transform: rotate(-127deg);
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after {
  content: "";
  position: absolute;
}
.button__drow1::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-60deg);
}
.button__drow1::after {
  top: -10px;
  left: 45px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(69deg);
}
.button__drow2::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-146deg);
}
.button__drow2::after {
  bottom: 26px;
  left: -40px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-262deg);
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after {
  background: var(--back_color);
}
.button:hover .button__drow1 {
  animation: drow1 ease-in 0.06s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow1::before {
  animation: drow2 linear 0.08s 0.06s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow1::after {
  animation: drow3 linear 0.03s 0.14s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2 {
  animation: drow4 linear 0.06s 0.2s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2::before {
  animation: drow3 linear 0.03s 0.26s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2::after {
  animation: drow5 linear 0.06s 0.32s;
  animation-fill-mode: forwards;
}
@keyframes drow1 {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}
@keyframes drow2 {
  0% {
    width: 0;
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    width: 120px;
  }
}
@keyframes drow3 {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}
@keyframes drow4 {
  0% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@keyframes drow5 {
  0% {
    width: 0;
  }
  100% {
    width: 124px;
  }
}
