.main-page {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 16px;
}

/* Introduction */
.introduction-container {
  display: flex;
  max-height: 512px;
  height: 100%;
  gap: 8px;
}

/* Make <picture> not create a layout box */
.introduction-container picture {
  display: contents;
}

.introduction-square {
  padding: 35px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-size: cover;
  background-image: url("../assets/HomePage/contact-me-frame-2.svg");
}

.introduction-square .text-holder {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.introduction-square .text-holder h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  max-width: 580px;
}

.introduction-square .text-holder p {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
  max-width: 580px;
}

b {
  font-weight: 500;
}

.introduction-buttons-container {
  display: flex;
  gap: 16px;
}

.logo-button-container {
  display: flex;
  gap: 16px;
}

.logo-button {
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
}

.logo-button img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.logo-button img:last-child {
  opacity: 0;
  visibility: hidden;
}

.logo-button:hover img:last-child {
  opacity: 1;
  visibility: visible;
}

.logo-button:hover img:first-child {
  opacity: 0;
  visibility: hidden;
}

/* Projects */
.project,
.introduction-square,
.introduction-container img {
  border-radius: 25px;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.project {
  cursor: pointer;
  background-size: 100%;
  transition: background-size 0.5s ease-in-out;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.project:hover {
  background-size: 110%;
}

.project img {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 50px;
  height: 50px;
}

.project h3 {
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-bottom: 8px;
}

.project h4 {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  color: white;
  margin-bottom: 8px;
}

.project div {
  padding: 8px;
  background-color: white;
  font-size: 14px;
  font-weight: 900;
  width: fit-content;
  border-radius: 10px;
}

.hich {
  height: 512px;
  background-color: black;
  grid-column-start: 1;
  grid-column-end: 3;
  display: none;
}

.nikandish {
  aspect-ratio: 1/1;
  background-image: url("../assets/HomePage/nikandish-frame.png");
}

.nikandish div {
  color: #8b4383;
}

.nebulox {
  aspect-ratio: 1/1;
  background-image: url("../assets/HomePage/nebulox-frame.png");
}

.nebulox div {
  color: #020a1f;
}

.snapp {
  aspect-ratio: 1/1;
  background-image: url("../assets/HomePage/snapp-trip-frame.png");
}

.carriot {
  aspect-ratio: 1/1;
  background-image: url("../assets/HomePage/carriot-frame.png");
}

.omid {
  aspect-ratio: 1/1;
  background-image: url("../assets/HomePage/omid-frame.png");
}

.homano {
  aspect-ratio: 1/1;
  background-image: url("../assets/HomePage/mano-frame.png");
}

/* Contactme cell */
.contact-me {
  height: 370px;
  margin: 0;
  background-image: url("../assets/HomePage/contact-me-frame-static.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-me .text-holder div {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

/* Conact me Button */
.contact-me-button {
  display: none;
}

.type--A {
  --line_color: black;
  --back_color: #d3d3d3;
}

.type--B {
  --line_color: #1b1919;
  --back_color: #e9ecff;
}

.type--C {
  --line_color: #00135c;
  --back_color: #defffa;
}

.button {
  position: relative;
  z-index: 0;
  width: 245px;
  height: 50px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--line_color);
  letter-spacing: 2px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.button::before,
.button::after,
.button__text::before,
.button__text::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background: var(--line_color);
  transition: all 0.5s ease;
}

.button::before {
  top: 0;
  left: 54px;
  width: calc(100% - 56px * 2 - 16px);
}

.button::after {
  top: 0;
  right: 54px;
  width: 8px;
}

.button__text::before {
  bottom: 0;
  right: 54px;
  width: calc(100% - 56px * 2 - 16px);
}

.button__text::after {
  bottom: 0;
  left: 54px;
  width: 8px;
}

.button__line {
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  overflow: hidden;
}

.button__line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 300px;
  border: solid 3px var(--line_color);
}

.button__line:nth-child(1),
.button__line:nth-child(1)::before {
  left: 0;
}

.button__line:nth-child(2),
.button__line:nth-child(2)::before {
  right: 0;
}

.button:hover {
  letter-spacing: 6px;
}

.button:hover::before,
.button:hover .button__text::before {
  width: 8px;
}

.button:hover::after,
.button:hover .button__text::after {
  width: calc(100% - 56px * 2 - 16px);
}

.button__drow1,
.button__drow2 {
  position: absolute;
  z-index: -1;
  border-radius: 16px;
  transform-origin: 16px 16px;
}

.button__drow1 {
  top: -16px;
  left: 40px;
  width: 32px;
  height: 0;
  transform: rotate(30deg);
}

.button__drow2 {
  top: 44px;
  left: 77px;
  width: 32px;
  height: 0;
  transform: rotate(-127deg);
}

.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after {
  content: "";
  position: absolute;
}

.button__drow1::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-60deg);
}

.button__drow1::after {
  top: -10px;
  left: 45px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(69deg);
}

.button__drow2::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-146deg);
}

.button__drow2::after {
  bottom: 26px;
  left: -40px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-262deg);
}

.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after {
  background: var(--back_color);
}

.button:hover .button__drow1 {
  animation: drow1 ease-in 0.06s;
  animation-fill-mode: forwards;
}

.button:hover .button__drow1::before {
  animation: drow2 linear 0.08s 0.06s;
  animation-fill-mode: forwards;
}

.button:hover .button__drow1::after {
  animation: drow3 linear 0.03s 0.14s;
  animation-fill-mode: forwards;
}

.button:hover .button__drow2 {
  animation: drow4 linear 0.06s 0.2s;
  animation-fill-mode: forwards;
}

.button:hover .button__drow2::before {
  animation: drow3 linear 0.03s 0.26s;
  animation-fill-mode: forwards;
}

.button:hover .button__drow2::after {
  animation: drow5 linear 0.06s 0.32s;
  animation-fill-mode: forwards;
}

@keyframes drow1 {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}

@keyframes drow2 {
  0% {
    width: 0;
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    width: 120px;
  }
}

@keyframes drow3 {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}

@keyframes drow4 {
  0% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}

@keyframes drow5 {
  0% {
    width: 0;
  }
  100% {
    width: 124px;
  }
}

.updating-popup {
  background-image: url("../assets/HomePage/updating-popup.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
  height: 1000px;
}

@media (max-width: 950px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .hich {
    grid-column-end: 2;
  }

  .introduction-container {
    flex-direction: column-reverse;
    max-height: none;
    height: auto;
    align-items: stretch;
  }

  .contact-me {
    background-image: url("../assets//HomePage/contact-me-frame-2.svg");
  }

  .introduction-square {
    height: 512px;
    background-position: 75% 0;
  }

  .introduction-container img {
    width: 100%;
    height: auto; /* keep ratio on mobile */
    max-height: none;
    object-fit: cover; /* restore original crop on mobile */
    object-position: 0 30%;
    aspect-ratio: 3/2;
  }
}

@media (max-width: 530px) {
  .introduction-square {
    height: fit-content;
  }

  .introduction-square .text-holder h1 {
    font-size: 24px;
    line-height: 1.3em;
  }

  .introduction-buttons-container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 32px;
  }

  .hich {
    aspect-ratio: 1/1;
    height: auto;
  }

  .button {
    display: none;
  }

  .contact-me-button {
    display: inline-block;
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    text-align: center;
    align-content: center;
    border-radius: 25px;
    font-weight: 700;
    font-size: 15px;
  }
}
