name: Publish Docker Image

on:
  push:
    branches:
      - main

jobs:
  publish-docker-image:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build, run, and push Docker image
        run: |
          docker build . --tag ghcr.io/behradsa/parsa-saraiyeh-portfolio:latest
          docker run ghcr.io/behradsa/parsa-saraiyeh-portfolio:latest
          docker push ghcr.io/behradsa/parsa-saraiyeh-portfolio:latest
